@using Microsoft.AspNetCore.Identity;
@using Retail.Areas.Identity.Data;
@using Retail.Data;
@inject SignInManager<RetailUser> signInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="accounts-partials">
        @{
            if (signInManager.IsSignedIn(User))
            {
                Html.RenderPartial("_AccountInformation");
            }
        }
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>    
</div>
