@using Microsoft.AspNetCore.Identity;
@using Retail.Areas.Identity.Data;
@using Retail.Data;
@inject SignInManager<RetailUser> signInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-4" id="accounts-partials">
        @{
            if (signInManager.IsSignedIn(User))
            {
                await Html.RenderPartialAsync("_AccountInformation");
            }
        }
    </div>

    <div class="col-4" id="transfers-partials">
        @{

        }
    </div>

    <div class="col-4" id="customer-service-partials">
        @{

        }
    </div>

</div>
