@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@using Retail.Areas.Identity.Data
@inject SignInManager<RetailUser> SignInManager
@inject UserManager<RetailUser> UserManager

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@User.Claims.</p>
</div>
